.commondialog .el-dialog__title {
  font-size: 14px;
  display: inline-block;
  margin-top: -20px;
  height: 20px;
  color: #323232;
}
.commondialog .el-dialog__headerbtn {
  margin-top:-5px;
}
.commondialog .el-dialog__header {
  height: 40px;
  background-color: #ebebeb;
}
.commondialog .el-dialog__body{
  border: 0px;
}
.commondialog .el-dialog__footer{
  border: 0px;
}
.commondialog .dialog-footer{
  margin-right: 38px;
}
.commondialog .elDialogButton {
  width: 100px;
}
.commondialog .dialog-footer{
  margin-right: 10px;
}
// .commondialog{
//   width:100px;
// }
