/**
 * @description 全局样式
 */

@charset "utf-8";

@import "./transition.scss";
@import "./loading.scss";
@import "./common.scss";

$base: ".vab";

@mixin scrollbar {
  max-height: 88vh;
  margin-bottom: 0.5vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, 0.3);
  }
}

@mixin base-scrollbar {
  &::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #f8fafc;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

// img {
//   object-fit: cover;
// }

a {
  color: $base-color-blue;
  text-decoration: none;
  cursor: pointer;
}

html {
  body {
    position: relative;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "PingFang SC", Arial, "Microsoft YaHei", sans-serif;
    font-size: $base-font-size-default;
    background: $base-list-background;

    @include base-scrollbar;

    div {
      @include base-scrollbar;
    }

    svg,
    i {
      &:hover {
        opacity: 0.8;
      }
    }

    /* markdown编辑器开始 */
    .editor-toolbar {
      .no-mobile,
      .fa-question-circle {
        display: none;
      }
    }

    /* markdown编辑器结束 */

    /* 间隔线开始 */
    .el-divider--horizontal {
      margin: 0 0 10px 0;
      .el-divider__text {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    /* 间隔线结束 */

    /* 大图展示开始 */
    .el-image-viewer {
      &__close {
        .el-icon-circle-close {
          color: $base-color-white;
        }
      }
    }

    /* 大图展示结束 */

    .vue-admin-beautiful-wrapper {
      .app-main-container {
        @include base-scrollbar;

        > [class*="-container"] {
          padding: $base-padding;
          background: $base-color-white;
        }
      }
    }

    /* 进度条开始 */
    #nprogress {
      .bar {
        background: $base-color-blue !important;
      }

      .peg {
        box-shadow: 0 0 10px $base-color-blue, 0 0 5px $base-color-blue !important;
      }
    }

    /* 进度条结束 */

    /* 表格开始 */

    .el-table {
      .el-table__body-wrapper {
        @include base-scrollbar;
      }

      th {
        background: #f5f7fa;
      }

      td,
      th {
        position: relative;
        box-sizing: border-box;
        padding: 7.5px 0;

        .cell {
          overflow: hidden;
          font-size: $base-font-size-default;
          font-weight: normal;
          color: #606266;
          text-overflow: ellipsis;
          white-space: nowrap;

          .el-image {
            width: 50px;
            height: 50px;
            border-radius: $base-border-radius;
          }
        }
      }
    }

    /* 表格结束 */

    /* el-select */

    // .el-select-dropdown {
    //   position: absolute !important;
    //   left: 0 !important;
    //   top: 30px !important;
    //   z-index: 1001 !important;

    // }

    /* 分页开始 */
    .el-pagination {
      padding: 0;
      margin: 10px 0 0 0;
      font-weight: normal;
      color: #333;
      background: none;

      .btn-next,
      .btn-prev,
      .el-pager li {
        color: #333;
        background-color: $base-list-background;
      }

      .el-pager li:not(.disabled).active {
        color: #fff;
        background-color: #409eff;
        border-radius: 2px;
      }
    }

    /* drawer 样式修改 */
    .el-drawer__body {
      position: relative;
      overflow: auto;
    }

    .el-drawer__header {
      padding: 10px;
      margin-bottom: 0;
      border-bottom: 1px solid #eee;
    }

    /* 分页结束 */

    /* 菜单开始 */
    .el-menu.el-menu--popup.el-menu--popup-right-start {
      @include scrollbar;
    }

    .el-menu.el-menu--popup.el-menu--popup-bottom-start {
      @include scrollbar;
    }

    .el-submenu__title i {
      color: $base-color-white;
    }

    /* 菜单结束 */

    /* 弹窗开始 */

    .el-dialog,
    .el-message-box {
      &__body {
        border-top: 1px solid $base-border-color;
      }

      &__footer {
        padding: $base-padding;
        text-align: right;
        border-top: 1px solid $base-border-color;
      }

      &__title {
        font-size: 16px;
      }

      &__headerbtn {
        top: 16px;
      }

      &__header,
      &__body,
      &__content {
        padding: $base-padding;
      }
    }

    .el-dialog {
      &__body {
        min-height: 80px;
      }
    }

    /* 弹窗结束 */

    /* 卡片开始 */
    .el-card {
      // margin-bottom: 15px;

      .el-card__header {
        padding: 5px;
      }

      &__body {
        padding: 5px;
      }
    }

    /* 卡片结束 */

    /* 下拉树样式-----------开始 */
    .select-tree-popper {
      .el-scrollbar {
        .el-scrollbar__view {
          .el-select-dropdown__item {
            height: auto;
            max-height: 274px;
            padding: 0;
            overflow-y: auto;
            line-height: 26px;
          }
        }
      }
    }

    /* 下拉树样式-----------结束 */

    .el-input-number {
      .el-input__inner {
        text-align: left;
      }
    }

    .el-range-editor.el-input__inner {
      padding: 0 10px;
    }

    /* vex-table-checkbox */
    .vxe-table {
      .vxe-body--row.row--cheched {
        background-color: #cddef5;
      }

      .vxe-body--row.row--hover.row--cheched {
        background-color: #bdcfe7;
      }

      .vxe-cell--checkbox {
        .vxe-checkbox--icon {
          &::before {
            // border: 1px solid #dcdfe6;
            // 列表选择框
            border: none;
            transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
          }
        }
      }
    }
  }
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}
